@page
@model Zadanie_5.Pages.BucketModel
@{
}
<h1>Koszyk
</h1>
<div class="container">
	<form class="form-horizontal" method="post">
	
		<div>Zawartość koszyka:</div>
		<br />
		<div class="form-group"> 
			<div class="col-sm-offset-2 col-sm-10">
				<button class="btn btn-primary" asp-page="List"> Wróć do listy </button>
			</div>
		</div>
	</form>
</div>